boolean-question {
  .questionNumber {
    color: #0f71c4;
    font-size: 12px;
    font-weight: 700;
    display: block;
    padding-bottom: 19px;
  }
  .questionQuestion {
    overflow-wrap: normal;
  }

  .largeRadio {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1.5px #d7d7d7;
  }
}
