page-confirmation {
  #checkmark {
    font-size: 8rem;
    color: #0f71cf;
    display: block;
    margin-top: 5%;
  }

  .transNumber {
    font-weight: bold;
  }

  .home {
    width: 80%;
    height: 40px;
    border-radius: 2.5px;
    background-color: #0f71c4;
    box-shadow: 1px 1px 3.5px 0 rgba(0, 0, 0, 0.26);
  }
  .number {
    font-weight: bold;
  }
  .grid {
    height: 100%;
  }

  #row1 {
    height: 15%;
  }

  #thankYou {
    font-size: 22px;
    text-align: center;
    width: 100%;
  }

  #reportText {
    font-weight: bold;
  }

  #row2 {
    height: 10%;
    margin-top: 0px;
  }

  #reportSubmitted {
    margin: 10px 0;
  }

  #row3 {
    height: 30%;
  }

  .thankYou {
    text-align: center;
    font-size: 21px;
    display: block;
  }
  .transaction {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  #wrapper {
    padding: 0 20px 10px 20px;
  }

  @media only screen and (orientation: landscape) and (min-width: 568px) and (max-width: 823px) {
    #wrapper {
      height: 115%;
    }

    #checkmark {
      font-size: 6rem;
    }

    #row1 {
      height: 10%;
      margin-bottom: 10px;
    }
    #lastP {
      margin: 0 0;
    }

    #row2 {
      margin-top: 10px;
    }

    #thankYou {
      margin: 10px 0 5px 0;
    }

    #transaction {
      margin: 0 0;
    }

    #reportSubmitted {
      margin: 5px 0;
    }

    #reportText {
      margin: 0 0 5px 0;
    }
  }

  @media only screen and (orientation: portrait) and (min-width: 319px) and (max-width: 321px) {
    #transaction {
      margin: 10px 0;
    }
    #checkmark {
      font-size: 6rem;
      margin-bottom: 10px;
    }
    #thankYou {
      margin: 5px 0;
      font-size: 2rem;
    }
    #reportText {
      margin: 5px 0;
    }

    #reportSubmitted {
      margin: 10px 0;
    }

    #lastP {
      margin: 5px 0;
    }
    #wrapper {
      padding: 0 10px 10px 10px;
    }

    #row2 {
      margin-top: 0px;
    }
  }
  @media only screen and (orientation: portrait) and (min-width: 360px) and (max-width: 360px) {
    #wrapper {
      padding: 15px 20px 15px 20px;
    }
    #row2 {
      margin-top: 20px;
      width: 100%;
    }

    #lastP {
      margin: 15px 0;
    }

    #thankYou {
      margin: 10px 0px;
    }
    #checkmark {
      font-size: 6rem;
      margin-bottom: 10px;
    }
  }

  @media only screen and (orientation: landscape) and (max-width: 568px) and (max-height: 320px) {
    #wrapper {
      padding-bottom: 0;
    }
  }

  @media only screen and (orientation: landscape) and (min-width: 736px) and (max-width: 823px) {
    #thankYou {
      margin-top: 20px;
    }
  }

  @media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 768px) {
    #checkmark {
      font-size: 13rem;
      padding-bottom: 15px;
    }
    #thankYou {
      font-size: 3.5rem;
    }

    #reportSubmitted,
    #reportText,
    #transaction,
    #lastP {
      font-size: 2.5rem;
    }

    #wrapper {
      padding: 25px;
    }

    .home {
      font-size: 2.5rem;
      height: 60px;
    }
    #row2 {
      margin-top: 30px;
    }
    #transaction {
      width: 100%;
    }
  }
  @media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1024px) {
    #checkmark {
      font-size: 16rem;
      padding-bottom: 15px;
    }
    #thankYou {
      font-size: 4rem;
    }

    #reportSubmitted,
    #reportText,
    #transaction,
    #lastP {
      font-size: 3.5rem;
    }

    #row2 {
      margin-top: 30px;
    }
    .home {
      font-size: 3rem;
      height: 75px;
    }
    #wrapper {
      padding: 40px;
    }
  }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    #checkmark {
      font-size: 13rem;
    }
    #thankYou {
      font-size: 3.5rem;
      margin-bottom: 15px;
    }

    #reportSubmitted,
    #reportText,
    #transaction,
    #lastP {
      font-size: 2.5rem;
      margin: 10px;
    }

    #row2 {
      margin-top: 15px;
    }
    .home {
      font-size: 2.5rem;
      height: 75px;
    }
    #wrapper {
      height: 100%;
      padding: 0 40px 20px;
    }
  }
  @media only screen and (orientation: landscape) and (min-width: 1366px) {
    #checkmark {
      font-size: 15rem;
    }
    #thankYou {
      font-size: 4.5rem;
      margin-bottom: 20px;
    }

    #reportSubmitted,
    #reportText,
    #transaction,
    #lastP {
      font-size: 3rem;
      margin: 15px;
    }

    #row2 {
      margin-top: 15px;
    }
    .home {
      font-size: 3.5rem;
      height: 75px;
    }
    #wrapper {
      height: 100%;
      padding: 0 40px 20px;
    }
  }
}
