page-confirmation{
   
/********* NAV BAR CSS STARTS HERE **********/

    .menu{
        color: #fff;
    }
    
    .start{
        position: absolute;
        left: 0;
    }
    
    .toolbar-background{
        background-color: #31485b; 
    }

    .toolbar-title-md {
        padding: 0 6px;
        margin-top: 0px;
        font-size: 15rem;
        font-weight: 600;
       
    }

    .toolbar-title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: OpenSans, sans-serif;
        min-height: 100%;
        font-size: 15px;
    }

    ion-title{
        text-align: center;
        color: white;
    }


    .back{
        padding-left: 5rem;
        color: #fff;
        font-size: 20px;
        width: 14.5px;
        margin-right: 10rem;
        left: 0;
    }

    .help{
        padding-right: 3rem;
        color: #fff;
        font-size: 22.5px;
    }

    /********* NAV BAR CSS ENDS HERE **********/
    
    
    
    
    
    .checkmark{
        font-size: 8rem;
        color: #0f71cf;
        
    }
    .grid{
        margin-top: 5%;
    }

    
    .p{
        font-family: OpenSans, sans-serif;
        font-size: 21px;
        font-weight: 600;
        text-align: center;
    }
  

     
  .button-inner{
        font-family: OpenSans, sans-serif;
        font-size: 12px;
        font-weight: 600;
    }

    

    .home-button{
    margin-bottom: 10%;
     padding-right: 10%;
     padding-left: 10%;

    }

    .icon-container{
        text-align: center;
        vertical-align: center;
        padding-top: 40%;
    }

    .button-container{
        text-align: center;
        vertical-align: baseline;
    }
    
}

