page-confirmation {
  #checkmark {
    font-size: 8rem;
    color: #0f71cf;
    display: block;
    margin-top: 5%;
  }

  .transNumber {
    font-weight: bold;
  }

  .home {
    width: 300px;
    height: 40px;
    border-radius: 2.5px;
    background-color: #0f71c4;
    box-shadow: 1px 1px 3.5px 0 rgba(0, 0, 0, 0.26);
  }
  .number {
    font-weight: bold;
  }
  .grid {
    height: 100%;
  }

  #row1 {
    height: 15%;
  }

  #thankYou {
    font-size: 22px;
    text-align: center;
    width: 100%;
  }

  #reportText {
    font-weight: bold;
  }

  #row2 {
    height: 10%;
    margin-top: 0px;
  }

  #reportSubmitted {
    margin: 10px 0;
  }

  #row3 {
    height: 30%;
  }

  .thankYou {
    text-align: center;
    font-size: 21px;
    display: block;
  }
  .transaction {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  #wrapper {
    padding: 0 20px 10px 20px;
  }

  @media only screen and (orientation: portrait) and (min-width: 319px) and (max-width: 321px) {
    #transaction {
      margin: 10px 0;
    }
    #checkmark {
      font-size: 6rem;
      margin-bottom: 10px;
    }
    #thankYou {
      margin: 5px 0;
    }
    #reportText {
      margin: 5px 0;
    }

    #reportSubmitted {
      margin: 10px 0;
    }

    #lastP {
      margin: 5px 0;
    }
    #wrapper {
      padding: 0 10px 10px 10px;
    }

    #row2 {
      margin-top: 0px;
    }
  }
  @media only screen and (orientation: portrait) and (min-width: 360px) and (max-width: 361px) {
    #wrapper {
      padding: 15px 20px 15px 20px;
    }
    #row2 {
      margin-top: 20px;
      width: 100%;
    }

    #lastP {
      margin: 15px 0;
    }

    #thankYou {
      margin: 10px 0px;
    }
    #checkmark {
      font-size: 6rem;
      margin-bottom: 10px;
    }
  }
}
