<ion-header >

  <ion-navbar color="mainHeader">
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="this.presentHelpModal()">
        <ion-icon class="help" name="help-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding >
  <p>{{ 'LOGIN_PREAMBLE' | translate }}</p>
  <form [formGroup]="login" (submit)="doLogin()">
    <ion-list>

      <ion-item no-lines >
        <ion-label text-wrap stacked class="labelText" >{{ 'SIN' | translate }}
          <span class="errorText" *ngIf="this.showError('sin')">{{ 'SIN_ERROR' | translate }}</span></ion-label>
        <ion-input class="boxInput" [class.invalid]="this.showError('sin')"  formGroupName="sin" type="password" ></ion-input>
      </ion-item>

      <ion-item no-lines >
        <ion-label text-wrap stacked class="labelText" >{{ 'AC' | translate }}
          <span class="errorText" *ngIf="this.showError('accessCode')">{{'ACCESS_CODE_ERROR' | translate }}</span>
        </ion-label>
        <ion-input class="boxInput" [class.invalid]="this.showError('accessCode')" formGroupName="accessCode" type="password" ></ion-input>
      </ion-item>

      <ion-item no-lines >
        <ion-label text-wrap stacked class="labelText" >{{ 'PROVINCE_RESIDENCE' | translate }}
          <span class="errorText" *ngIf="this.showError('provinceOfResidence')">{{'PROVINCE_OF_RESIDENCE_ERROR' | translate }}</span>
        </ion-label>
        <ion-select class="boxInput" [class.invalid]="this.showError('provinceOfResidence')" formGroupName="provinceOfResidence" >
          <ion-option *ngFor="let provinceCode of provinces.provinceCodes" value="{{provinceCode}}">{{  provinceCode | translate }}</ion-option>
        </ion-select>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'CONTINUE_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
