page-submission {
    .menu {
        color: #FFF;
        }
        .toolbar-background {
        background-color: #31485B;
        }
        .toolbar-title {
        color: white;
        }
        .page-title {
        color: white;
        }
        .back-button {
        color: #FFF;
        }
        .back {
        color: #FFF;
        }
        .help {
        color: #FFF;
        }
//*********************************************

        .line{
            width: 100%;
            height: 1px;
            border: solid .5px #d7d7d7;
            margin: 0 auto;
        }
}
