page-submission {
  .line {
    width: 100%;
    height: 1px;
    border: solid 0.5px #d7d7d7;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 25px;
  }

  .grid {
    margin-top: 2%;
  }

  #confirmation {
    font-weight: 600;
  }

  .rows {
    display: flex;
    align-items: center;
    width: 80%;
  }

  #work-wages {
    flex-wrap: wrap;
    width: 90%;
  }

  .circle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #31485b;
    box-shadow: 0.5px 1px 2px 0 rgba(0, 0, 0, 0.34);
    border-radius: 50%;
    margin-top: 20px;
  }

  .wrapper.answer-icon {
    margin-bottom: 20px;
  }

  .answer {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #219653;
    margin-right: 5px;
    padding-top: 1px;
  }

  .edit {
    font-size: 14px;
    font-weight: 600;
    color: #0f71c4;
    margin-left: 5px;
    width: 50%;
  }

  .sentences {
    display: block;
    font-size: 14px;
    line-height: 1.67;
  }
  #review-statement {
    margin: 0;
  }
  .title {
    font-size: 25px;
    font-weight: 300;
  }

  .number {
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  .subtitles {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #0a1a2b;
    margin-top: 20px;
    padding-top: 2px;
    width: 100%;
  }
  .wrapper {
    width: 95%;
    margin: 0 auto;
    text-justify: left;
  }

  .question {
    line-height: 1.61;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .accept {
    width: 50%;
    background-color: #0f71c4;
  }

  .refuse {
    padding-left: 6%;
    color: #0f71c4;
    width: 30%;
  }

  #create {
    padding-left: 2%;
  }

  a:hover {
    text-decoration: underline;
  }
}
