page-login-failed {
  .menu {
    color: #fff;
  }
  .toolbar-title {
    color: white;
  }
  .page-title {
    color: white;
  }
  .back-button {
    color: #fff;
  }
  .back {
    color: #fff;
  }
  .help {
    color: #fff;
    padding-right: 5vw;
  }
}
