<!--
  Generated template for the EiReportingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle icon-only>
      <ion-icon class="menu" name='menu'></ion-icon>
    </button>

    <ion-title class="page-title">EI Reporting
    </ion-title>

    <ion-buttons end>
      <ion-icon class="help" name="help-circle"></ion-icon>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header class="ei-report-card-header">
      My EI Reports
    </ion-card-header>

    <ion-list>

      <ion-item *ngFor="let report of currentReports" class="ei-report-item">
        <h2 class="ei-report-header">{{ report.dateRange }}</h2>
        <p *ngIf="report.dueDate === 'Due Tomorrow'" class="ei-report-duedate-alert">
          <ion-icon class="alert-due-date" name="alert"></ion-icon>
          {{ report.dueDate }}
        </p>
        <p *ngIf="report.dueDate !== 'Due Tomorrow'" class="ei-report-duedate">
          {{ report.dueDate }}
        </p>
        <button *ngIf="report.status === 'new'" ion-button item-right class="start-report-button">Submit Report</button>
        <p *ngIf="report.status === 'Submitted'" item-right class="status">Submitted</p>
        <p *ngIf="report.status === 'Approved'" item-right class="status">Approved</p>
        <ion-icon *ngIf="report.status === 'Approved' || 'Submitted' && report.status !== 'new'" item-right class="good-status" name="checkmark-circle"></ion-icon>
      </ion-item>

    </ion-list>
  </ion-card>

</ion-content>
