page-ei-reporting {
  /********* NAV BAR CSS STARTS HERE **********/
  .menu {
    color: #fff;
  }
  // .start {
  //   position: absolute;
  //   left: 0;
  // }
  .toolbar-background {
    background-color: #31485b;
  }
  // .toolbar-title-md {
  //   padding: 0 6px;
  //   margin-top: 0px;
  //   font-weight: 600;
  // }
  .toolbar-title {
    color: white;
  }
  .page-title {
    color: white;
  }
  .back-button {
    color: #fff;
  }
  .back {
    color: #fff;
  }
  .help {
    color: #fff;
  }
  /********* NAV BAR CSS ENDS HERE **********/

  /************* CARD CSS *******************/

  .item-block {
    border-bottom: 1px solid #BBBB
  }
  .item-block:last-child {
    border-bottom: none;
  }
  .ei-report-item {
    .ei-report-header {
      font-size: 1.75rem;
      font-weight: 450 !important;
      color: #0f71c4 !important;
    }
    .start-report-button {
        height: 11vw !important;
        width: 35vw;
    }
    .good-status {
        font-size: 3vh;
        color: #49a60e;
        padding-top: .5vh;
    }
    .alert-due-date {
      color: #bb1328;
      padding-top: .5rem;
      padding-right: 1vw;
    }
    .ei-report-duedate-alert {
      color: #bb1328;
    }
  }
  .ei-report-card-header {
    background-color: #4e5e6f;
    color: #fff !important;
    font-weight: 400;
  }
  .item-inner {
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
  }
}

// Media Queries
page-ei-reporting {
  @media screen and (min-width: 600px) {
    .ei-report-item {
      .start-report-button {
        height: 8vw !important;
        width: 35vw;
      }
      .good-status {
        font-size: 5vh;
        color: #49a60e;
        padding-top: 1vh;
      }
    }
  }
  // For small screens ie. iPhone 5/SE
  @media screen and (max-width: 400px){
    .ei-report-item {
      .ei-report-header {
        font-size: 1em;
        white-space: normal;
      }
      .ei-report-duedate-alert {
        font-size: 1.2rem;
      }
      .ei-report-duedate {
        font-size: 1.2rem;
      }
    }
  }
}