page-help-modal {
  .toolbar-background {
    background-color: #31485b;
  }
  .toolbar-title {
    color: white;
    font-weight: bold;
  }
  .page-title {
    text-align: center;
    padding-left: 10vw;
    color: white;
  }
  .close-help {
      padding-right: 3vw;
      font-size: 30px;
      font-weight: 600;
      color: white;
  }
}
