page-splash {
  .wordmark {
    width: 80px;
    height: 20px;
  }

  .fip {
    width: 200px;
    height: 25px;
  }

  .serviceCan {
    width: 225px;
    height: 150px;
  }

  .serviceRow {
    height: 70%;
  }

  #english {
    margin-bottom: 10px;
  }

  @media only screen and (orientation: landscape) {
    .serviceRow {
      height: 60%;
    }
  }
}
