<!-- Generated template for the StatusCardComponent component -->
<ion-card>

  <ion-card-header class="status-card-header">
    <ion-item class="status-card-header-wrapper">
      <p id="status-card-header-title">{{ 'STATUS_CARD_TITLE' | translate }}</p>
      <button ion-button color="light" clear item-right id="view-details">View Details
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-card-header>

  <ion-card-content id="status-card-content">
    <ion-grid id="status-card-grid">
      <ion-row id="row-1">
        <ion-col id="row-1-col-1">
          <round-progress
          [current]="current"
          [max]="max"
          [color]="color"
          [background]="background"
          [radius]="radius"
          [stroke]="stroke"
          [semicircle]="semicircle"
          [rounded]="rounded"
          [clockwise]="clockwise"
          [responsive]="responsive"
          [duration]="duration"
          [animation]="animation"
          [animationDelay]="animationDelay"></round-progress>
        </ion-col>
        <ion-col id="row-1-col-2">
          <ion-row id="row-1-col-2-row-1">
            <h2 id="payable-amount-title">
              Current Payable Amount
            </h2>
            <p>
              152.00 / week *
            </p>
          </ion-row>
          <ion-row id="row-1-col-2-row-2">
            <h2 id="next-deposit-title">
              Next Deposit
            </h2>
            <p>
              Monday May 15, 2018
            </p>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row id="row-2">
        <ion-col id="row-2-col-1">
          <ion-item>
            <ion-icon item-left name="alert"></ion-icon>
            <h2>
              Next report due in 3 days
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row id="row-3">
        <ion-col id="row-3-col-1">
          <ion-item>
            <ion-icon item-left name="briefcase"></ion-icon>
            <h2>
              2 jobs available near you
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

</ion-card>