status-card {
  // Card Header
  .status-card-header {
    background-color: #4e5e6f;
    color: #fff !important;
    padding: 6px;
  }
  .status-card-header-wrapper {
    background-color: #4e5e6f;
    color: #fff !important;
  }
  #status-card-header-title {
    font-weight: 900;
    color: #fff;
  }
  #view-details {
    margin-right: -0.5rem;
  }
  // Grid styling
  #row-1 {
    align-items: center;
  }
  #row-1-col-1 {
    padding-left: 1.8rem;
  }
  #row-1-col-2 {
    padding-left: 0;
    margin-top: 12px;
  }
  #row-1-col-2-row-2 {
    padding-top: 2rem;
  }
  #row-1-col-3-row-1 {
    padding-bottom: 2.5rem;
  }
  #row-1-col-3-row-2 {
    padding-top: 2.5rem;
  }
  #row-2-col-1 {
    padding-top: 1rem;
  }
  #section-divider {
    min-height: 12px;
    height: 22px;
  }
  // Card Content Styling
  .card-content-title {
    padding-bottom: 0.5rem;
    color: #0f71c4;
  }
  .content-row {
    flex-direction: column;
  }
  #alert-status {
    color: #bb1328;
  }
  #job-status {
    color: #0f71c4;
  }
  .notification-item {
    min-height: 3.8rem;
  }
  .notification-icon {
    margin: 3px;
  }
  .notification-label {
    margin-top: 0;
    margin-bottom: 0;
  }
  // Media Queries for Landscape Formatting
  @media only screen and (orientation: landscape) {
    .portrait-mode {
      display: none;
    }
  }
  @media only screen and (orientation: portrait) {
    .landscape-mode {
      display: none;
    }
  }
}
