<!-- Generated template for the StatusCardComponent component -->
<ion-card>

  <ion-card-header class="status-card-header">
    <ion-item class="status-card-header-wrapper">
      <p id="status-card-header-title">{{ 'STATUS_CARD_TITLE' | translate }}</p>
      <button ion-button color="light" clear item-right id="view-details">View Details
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-card-header>

  <ion-card-content id="status-card-content">
    <ion-grid id="status-card-grid">
      <ion-row id="row-1">
        <ion-col id="col-1-row-1">
          <round-progress [current]="current" [max]="max"></round-progress>
        </ion-col>
        <ion-col id="col-2-row-1">
          <ion-row id="row-1-col-2-row-1">
            <h2 id="payable-amount-title">
              Payable Amount
            </h2>
            <p>
              152.00 / week *
            </p>
          </ion-row>
          <ion-row id="row-2-col-2-row-1">
            <h2 id="next-deposit-title">
              Next Deposit
            </h2>
            <p>
              Monday May 15, 2018
            </p>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row id="row-2">
        <ion-col id="col-1-row-2">

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

</ion-card>