status-card {
  // Card Header
  .status-card-header {
    background-color: #4e5e6f;
    color: #fff !important;
    padding: 6px;
  }
  .status-card-header-wrapper {
    background-color: #4e5e6f;
    color: #fff !important;
  }
  #status-card-header-title {
    font-weight: 900;
    color: #fff;
  }
  #view-details {
    margin-right: -0.5rem;
  }
  // Grid styling
  #row-1-col-1 {
    text-align: -webkit-center;
    position: relative;
    margin-top: 10px;
  }
  #row-1-col-2 {
    margin-top: 10px;
  }
  #row-1-col-2-row-2 {
    padding-top: 2rem;
  }
  #row-1-col-3-row-1 {
    padding-bottom: 0.5rem;
  }
  #row-1-col-3-row-2 {
    padding-top: 1.5rem;
  }
  #row-2-col-1 {
    padding-top: 1rem;
  }
  #section-divider {
    min-height: 12px;
    height: 22px;
  }
  // Card Content Styling
  #weeks-remaining {
    position: absolute;
    top: 25%;
  }
  .card-content-title {
    padding-bottom: 0.5rem;
    color: #0f71c4;
  }
  .card-content-info {
    color: black;
  }
  .content-row {
    flex-direction: column;
  }
  #section-divider {
    width: 95%;
    margin-left: 2%;
  }
  #alert-status {
    color: #bb1328;
  }
  #job-status {
    color: #0f71c4;
  }
  .notification-item {
    min-height: 3.8rem;
  }
  .notification-icon {
    margin: 3px;
  }
  .notification-label {
    margin-top: 0;
    margin-bottom: 0;
  }
  // Media Queries for Very Small Displays
  @media only screen and (max-width: 320px) {
    #status-card-grid {
      padding: 0;
    }
    #row-1-col-2 {
      padding-left: 14px;
    }
  }
}
