page-acceptance-statement {
  // Nav Bar CSS Starts Here
  .menu {
    color: #fff;
  }
  .toolbar-title {
    color: white;
  }
  .page-title {
    color: white;
  }
  .back-button {
    color: #fff;
  }
  .back {
    color: #fff;
  }
  .help {
    color: #fff;
    padding-right: 5vw;
  } // Nav Bar CSS ends here
  .statement-section {
    padding-top: 5vw;
  }
  .statement-content {
    line-height: 2rem;
  }
  .accept-button {
    width: 12rem;
    height: 5rem;
  }
  .refuse-button {
    width: 12rem;
    height: 5rem;
  }
  .section-seperator {
    margin-top: 4vh;
    margin-bottom: 3vh;
    border-bottom: solid 1px #dedede;
    padding: 0px !important;
  }
  .faq-link {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 4rem;
  }
}
