page-home {

  .page-header {
    .button-inner {
      color: white;
    }

    .toolbar {
      position: absolute;

      .toolbar-background {
        display: none;
      }

      .toolbar-title {
        color: white;
      }
      
      .toolbar-background-ios{
        display: none;
      }

      .help {
        color: #fff;
        padding-right: 5vw;
      }
    }
  }

  .curved-img {
    width: 100%;
  }

  .searchbar {
    margin-top: 2vh;

    .searchbar-input {
      border-radius: 2.5px;
      border: solid 0.5px #979797;
    }
  }

// iOS Search Icon Custom CSS
  .searchbar-ios {

    .searchbar-search-icon {
      margin-top: .3em;
    }
  }
//////////////////////////////

  .scroll-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  #home-page-show-more-container {
    padding: 0 1.5em 0 1.5em;
  }

  .grid .row .grid-column .service-select {
    border: 1px solid #e6e9ee;
    padding: .75em;
    text-align: center;
    height: 12em;
  }

  .service-icon {
    padding-top: .25em;
    font-size: 5em;
  }

  .service-title {
    padding: 10px 0 0 0 !important;
    margin: 0;
    font-size: .9em;
  }
// Global Landscape Orientation CSS
  @media only screen and (orientation: landscape) {
    .page-header {
      .button-inner {
        color: black;
      }
  
      .toolbar {
        position: absolute;
  
        .toolbar-background {
          background: transparent;
        }
  
        .toolbar-title {
          color: black;
        }
        
        .toolbar-background-ios{
          display: none;
        }

        .help {
          color: black;
          padding-right: 5vw;
        }
      }
    }

    #header-image-container {
      display: none;
    }
    .searchbar {
      margin-top: 3em;
    }
  }

// iPad Pro Media Query
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .grid {
      height: 60em;

      .row {
        height: 60em;

        .grid-column .service-select {
          height: 100%;
          
          .service-icon {
            font-size: 15em;
          }

          .service-title {
            font-size: 2em;
          }
        }
      }
    }
  }
// iPad Media Query
@media only screen and (orientation: landscape) and (min-width: 1000px) {
  .grid {
    height: 50em;

    .row {
      height: 60em;

      .grid-column .service-select {
        height: 100%;
        
        .service-icon {
          padding-top: 0;
          font-size: 15em;
        }

        .service-title {
          font-size: 2em;
        }
      }
    }
  }
}
}