page-home {
  ion-grid {
    margin-top: 1rem;
  }
  ion-col div {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    height: 15rem;
  }

  ion-icon {
    padding-top: 2rem;
    font-size: 6rem;
  }

  p {
    padding: 10px 0 0 0 !important;
    margin: 0;
  }
}
