page-home {
  .toolbar {
    .toolbar-background {
      display: none;
    }
    .home-title {
      color: white;
    }
    .toolbar-background-ios {
      display: none;
    }
    .help {
      color: #fff;
      padding-right: 5vw;
    }
  }
  // Home Page Header
  .curved-img-portrait {
    width: 100%;
    filter: brightness(250%);
    background-color: #fff;
  }
  // Landscape Header Image
  .curved-img-landscape {
    display: none;
  }
  // Personalization Text
  .hello-text {
    position: absolute;
    top: 9vh;
    left: 2em;
    z-index: 10;
    color: white;

    .greeting {
      margin-top: 0;

      .greeting-span {
        font-size: 18px;
      }
      .locationInfo {
        font-size: 14px;
      }
    }
  }
  .searchbar {
    margin-top: 2vh;
    .searchbar-input {
      border-radius: 2.5px;
      border: solid 0.5px #979797;
    }
  }
  // iOS Search Icon Custom CSS
  .searchbar-ios {
    .searchbar-search-icon {
      margin-top: 0.3em;
    }
  }
  //////////////////////////////
  .scroll-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  #home-page-show-more-container {
    padding: 0 1.5em 0 1.5em;
  }
  #col-1-row-1 {
    padding-right: 0;
    padding-bottom: 0;
  }
  #col-1-row-1-div {
    border-top: none;
    border-left: none;
  }
  #col-2-row-1 {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  #col-2-row-1-div {
    border-left: none;
    border-top: none;
    border-right: none;
  }
  #col-3-row-1 {
    padding-left: 0;
    padding-bottom: 0;
  }
  #col-3-row-1-div {
    border-top: none;
    border-right: none;
  }
  #col-1-row-2 {
    padding-top: 0;
    padding-right: 0;
  }
  #col-1-row-2-div {
    border-left: none;
    border-bottom: none;
    border-top: none;
  }
  #col-2-row-2 {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }
  #col-2-row-2-div {
    border: none;
  }
  #col-3-row-2 {
    padding-left: 0;
    padding-top: 0;
  }
  #col-3-row-2-div {
    border-bottom: none;
    border-top: none;
    border-right: none;
  }
  // Grid Item Styling
  .grid .row .grid-column .service-select {
    border: 1px solid #e6e9ee;
    padding: 2vh;
    text-align: center;
  }
  .service-button {
    margin: 0;
    padding: 0;
    height: 70%;
    width: 100%;
  }
  .service-icon {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 15vw;
  }
  .service-title {
    height: 7vw;
  }
  .landscape-grid {
    display: none;
  }
  // Global Landscape Orientation CSS
  @media only screen and (orientation: landscape) {
    .page-header {
      .button-inner {
        color: white;
      }
      .toolbar {
        position: absolute;
        .toolbar-background {
          background: transparent;
        }
        .toolbar-title {
          color: white;
        }
        .toolbar-background-ios {
          display: none;
        }
        .help {
          color: white;
          padding-right: 5vw;
        }
      }
    }
    .curved-img-portrait {
      display: none;
    }
    .curved-img-landscape {
      display: flex;
      filter: brightness(250%);
      background-color: #fff;
    }
    .hello-text {
      width: 100%;
      top: 10vh;
      .greeting {
        font-size: 18px;
      }
      .locationInfo {
        position: absolute;
        right: 0;
        margin-right: 4em;
        top: 0;
        margin-top: 1em;
      }
    }
    .searchbar {
      margin-top: 1em;
    }
    .portrait-grid {
      display: none;
    }
    .landscape-grid {
      display: unset;
    }
  }
  // iPhone 5/SE Media Query
  @media only screen and (max-width: 320px) {
    .home-title {
      padding-right: 80px;
    }
    .curved-img-portrait {
      background-color: #fff;
    }
    .hello-text {
      position: absolute;
      top: 10vh;
      left: 2em;
      z-index: 10;
      color: white;

      .greeting {
        margin-top: 0;

        .greeting-span {
          font-size: 14px;
        }
        .locationInfo {
          font-size: 12px;
        }
      }
    }
  }
  // iPad Pro Media Query
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .curved-img-landscape {
      display: flex;
      width: 100%;
      background-color: #fff;
    }
    .portrait-grid {
      display: unset;
      .row .grid-column .service-select {
        border: 1px solid #e6e9ee;
        padding: 0.75em;
        text-align: center;
        height: 25vh;
      }
      .service-button {
        margin: 0;
        padding: 0;
        height: 80%;
        width: 100%;
      }
      .service-icon {
        font-size: 10vw;
      }
    }
    .landscape-grid {
      display: none;
    }
  }
  // iPad Media Query
  @media only screen and (orientation: landscape) and (min-width: 1000px) {
    .curved-img-landscape {
      display: flex;
      width: 100%;
      background-color: #fff;
    }
    .portrait-grid {
      display: unset;
      .row .grid-column .service-select {
        border: 1px solid #e6e9ee;
        padding: 0.75em;
        text-align: center;
      }
      .service-button {
        margin: 0;
        padding: 0;
        height: 80%;
        width: 100%;
      }
      .service-icon {
        font-size: 10vw;
      }
    }
    .landscape-grid {
      display: none;
    }
  }
}
