page-home {

  ion-header {
    .button-inner {
      color: white;
    }

    .toolbar {
      position: absolute;
  
      .toolbar-background {
        background: transparent;
      }

      .toolbar-title {
        color: white;
      }
    }
    
    #home-help-button {
      padding-right: 0.8rem;
    }
  }

  #header-image-container {
    margin-top: -20%;
    margin-left: -46%;
    width: 80rem;
  }

  img {
    object-fit: contain;
    object-position: 0 20rem;
    margin-top: -30%;
    border-radius: 50%;
  }

  .scroll-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  #home-page-show-more-container {
    padding: 0 1.8rem 0 1.8rem;
  }

  ion-grid {
    // margin-top: 1rem;
  }

  ion-col div {
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    height: 15rem;
  }

  ion-icon {
    padding-top: 2rem;
    font-size: 6rem;
  }

  p {
    padding: 10px 0 0 0 !important;
    margin: 0;
  }
}

.service-select {
  border-radius: 0;
}
