page-home {

  .page-header {
    .button-inner {
      color: white;
    }

    .toolbar {
      position: absolute;

      .toolbar-background {
        background: transparent;
      }

      .toolbar-title {
        color: white;
      }

      .toolbar-background-ios {
        display: none;
      }
    }

    #home-help-button {
      padding-right: 0.8rem;
    }
  }

  @media all and (orientation:portrait) {
      
  }

  @media all and (orientation:landscape) {
    #header-image-container {
      display: none;
    }
    .searchbar{
      padding-top:60px;
    }
  }

  .curved-img {
    width: 100%;
  }

  .scroll-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  #home-page-show-more-container {
    padding: 0 1.8rem 0 1.8rem;
  }

  .grid .row .grid-column .service-select {
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    height: 15rem;
  }

  .service-icon {
    padding-top: 2rem;
    font-size: 6rem;
  }

  .service-title {
    padding: 10px 0 0 0 !important;
    margin: 0;
  }
}

.service-select {
  border-radius: 0;
}

@media only screen and (min-width: 650px) {
  .curved-img {
    margin-top: -35%;
  }
}
