page-home {

  .page-header {
    .button-inner {
      color: white;
    }

    .toolbar {
      position: absolute;

      .toolbar-background {
        background: transparent;
      }

      .toolbar-title {
        color: white;
      }
      
      .toolbar-background-ios{
        display: none;
      }
    }
  }

  .curved-img {
    width: 100%;
  }

  .scroll-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  #home-page-show-more-container {
    padding: 0 1.5em 0 1.5em;
  }

  .grid .row .grid-column {
    width: 30%;
  }

  .grid .row .grid-column .service-select {
    border: 1px solid #e6e9ee;
    padding: .75em;
    text-align: center;
    height: 12em;
  }

  .service-icon {
    padding-top: .25em;
    font-size: 5.5em;
  }

  .service-title {
    padding: 10px 0 0 0 !important;
    margin: 0;
  }
// Global Landscape Orientation CSS
  @media only screen and (orientation: landscape) {
    .page-header {
      .button-inner {
        color: black;
      }
  
      .toolbar {
        position: absolute;
  
        .toolbar-background {
          background: transparent;
        }
  
        .toolbar-title {
          color: black;
        }
        
        .toolbar-background-ios{
          display: none;
        }
      }
    }

    #header-image-container {
      display: none;
    }
    .searchbar {
      margin-top: 3em;
    }
  }

// iPad Pro Media Query
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .grid {
      height: 60em;
      .row {
        height: 60em;
        .grid-column .service-select {
          height: 100%;
          .service-icon {
            font-size: 15em;
          }
          .service-title {
            font-size: 2em;
          }
        }
      }
    }
  }
}