<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='MTSApp-HamburgMenu'></ion-icon>
    </button>
    <ion-title>{{ pageTitleKey | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <section *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <button ion-item [navPush]="subSettings" [navParams]="languageSettings">
        {{ 'SETTINGS_LANGUAGE_BUTTON' | translate }}
      </button>

      <button ion-item [navPush]="subSettings" [navParams]="notificationSettings">
        {{ 'SETTINGS_NOTIFICATION_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list radio-group [(ngModel)]='selectedLanguage' *ngIf="page == 'language'">
      <ion-item>
        <ion-label>
          {{ 'LANGUAGE_BUTTON_FRENCH' | translate }}
        </ion-label>
        <ion-radio id="fr" value="fr" (ionSelect)='changeLang("fr")'></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ 'LANGUAGE_BUTTON_ENGLISH' | translate }}
        </ion-label>
        <ion-radio id="en" value="en" (ionSelect)='changeLang("en")'></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="page == 'notifications'">
      <button ion-item [navPush]="subSettings" [navParams]="notificationSettings">
        {{ 'SETTINGS_NOTIFICATION_BUTTON' | translate }}
      </button>
    </ion-list>
  </section>

</ion-content>