<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='MTSApp-HamburgMenu'></ion-icon>
    </button>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <button ion-item [navPush]="subSettings" [navParams]="languageSettings">
        {{ 'SETTINGS_LANGUAGE_BUTTON' | translate }}
      </button>

      <button ion-item [navPush]="subSettings" [navParams]="notificationSettings">
        {{ 'SETTINGS_NOTIFICATION_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list radio-group *ngIf="page == 'language'">
      <ion-item>
        <ion-label>
          {{ 'LANGUAGE_BUTTON_FRENCH' | translate }}
        </ion-label>
        <ion-radio (ionSelect)='changeLang("fr")'></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ 'LANGUAGE_BUTTON_ENGLISH' | translate }}
        </ion-label>
        <ion-radio (ionSelect)='changeLang("en")'></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="page == 'notifications'">
      <button ion-item [navPush]="subSettings" [navParams]="notificationSettings">
        {{ 'SETTINGS_NOTIFICATION_BUTTON' | translate }}
      </button>
    </ion-list>
  </form>

</ion-content>