<!--
  Generated template for the EiDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EI Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header class="ei-report-card-header">
          <ion-title>EI Benefits</ion-title>
        </ion-card-header>
    
        <ion-list>
    
          <ion-item *ngFor="let report of currentReports" class="ei-report-item">
            <h2 class="ei-report-header">{{ report.schedule }}</h2>
            <p *ngIf="report.dueDate === 'Due Tomorrow'" class="ei-report-duedate-alert">
              <ion-icon class="alert-due-date" name="alert"></ion-icon>
              {{ report.dueDate }}
            </p>
            <p *ngIf="report.dueDate !== 'Due Tomorrow'" class="ei-report-duedate">
              {{ report.dueDate }}
            </p>
            <button *ngIf="report.status === 'new'" (click)="startReport(report)" ion-button item-right class="start-report-button">{{ 'START_REPORT_BUTTON_TEXT' | translate }}</button>
            <p *ngIf="report.status === 'Submitted'" item-right class="status">{{ 'SUBMITTED_STATUS_TEXT' | translate }}</p>
            <p *ngIf="report.status === 'Approved'" item-right class="status">{{ 'APPROVED_STATUS_TEXT' | translate }}</p>
            <ion-icon *ngIf="report.status === 'Approved' || 'Submitted' && report.status !== 'new'" item-right class="good-status" name="checkmark-circle"></ion-icon>
          </ion-item>
    
        </ion-list>
      </ion-card>
</ion-content>
