// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #0a1a2b;
$toolbar-background: #31485b;

// Searchbar placeholder text made darker for better legibility
$searchbar-md-input-placeholder-color: #000;
$background-color: #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #0f71cf,
  secondary: #32db64,
  danger: #d0021b,
  light: #ffffff,
  dark: #0a1a2b,
  mainHeader: #31485b,
  secondaryHeader: #4e5e6f,
  borderBox: #979797,
  secondaryButton: (
    base: #fff,
    contrast: #60605e
  )
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-order-ios: (
  back-button: 1,
  menu-toggle-start: 0,
  buttons-left: 2,
  buttons-start: 3,
  content: 4,
  buttons-end: 5,
  buttons-right: 6,
  menu-toggle-end: 7
);
$toolbar-ios-title-font-size: 15px;

$searchbar-ios-background-color: none;
$searchbar-ios-border-color: none;
$searchbar-ios-padding-horizontal: 2em;
$searchbar-ios-input-height: 3em;
$searchbar-ios-input-placeholder-color: black;
$searchbar-ios-input-search-icon-color: black;
$searchbar-ios-input-search-icon-size: 16px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-order-md: (
  back-button: 1,
  menu-toggle-start: 0,
  buttons-left: 2,
  content: 3,
  buttons-start: 4,
  buttons-end: 5,
  buttons-right: 6,
  menu-toggle-end: 7
);
$toolbar-md-title-font-size: 15px;
$toolbar-md-title-font-weight: 700;
$toolbar-md-title-text-align: center;

$toolbar-ios-title-font-size: 15px;
$toolbar-ios-title-font-weight: 700;
$toolbar-ios-title-text-align: center;

$searchbar-md-input-box-shadow: none;
$searchbar-md-padding: 0 2em 0 2em;
$searchbar-md-input-search-icon-color: black;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
