// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.let

.questionNumber {
  color: #0f71c4;
  font-size: 12px;
  font-weight: 700;
}
// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "appname-" prefix
ion-icon {
  &[class*="MTSApp-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  // custom icons
  &[class*="MTSApp-Home"] {
    mask-image: url(../assets/icon/noun_864476.svg);
  }
  &[class*="MTSApp-Notification"] {
    mask-image: url(../assets/cs-icons/Icon-Black-Home-01-Notifications.svg);
  }
  &[class*="MTSApp-Finder"] {
    mask-image: url(../assets/cs-icons/Icon-Black-Home-02-Benefits-Finder.svg);
  }
  &[class*="MTSApp-JobSearch"] {
    mask-image: url(../assets/cs-icons/Icon-Black-Home-03-Search.svg);
  }
  &[class*="MTSApp-EIReporting"] {
    mask-image: url(../assets/cs-icons/Icon-Black-Home-04-EI-Report.svg);
  }
  &[class*="MTSApp-SCCLocations"] {
    mask-image: url(../assets/cs-icons/Icon-Black-Home-05-Locations.svg);
  }
  &[class*="MTSApp-LifeEvents"] {
    mask-image: url(../assets/cs-icons/Icon-Black-Home-06-Life-Events.svg);
  }
  &[class*="MTSApp-HamburgMenu"] {
    mask-image: url(../assets/icon/noun_1320815.svg);
  }
  &[class*="MTSApp-Calendar"] {
    mask-image: url(../assets/icon/noun_1058889.svg);
  }
  &[class*="MTSApp-Settings"] {
    mask-image: url(../assets/cs-icons/Icon-White-Menu-Settings.svg);
  }
  &[class*="MTSApp-Support"] {
    mask-image: url(../assets/cs-icons/Icon-White-Menu-Support.svg);
  }
  &[class*="MTSApp-Logout"] {
    mask-image: url(../assets/cs-icons/Icon-White-Menu-Logout.svg);
  }
}

// Nav Menu CSS
.nav-menu {
  // Toolbar CSS
  .toolbar {
    border-bottom: 1px solid white;
    height: 10vh;

    .toolbar-background-md {
      border: none;
    }
    .toolbar-background-ios {
      border: none;
    }
    #close-nav-menu {
      font-size: 40.5px;
    }
  }
  .content {
    // Render automatically generated menu content-area background color transparent so that menu content-area background color global variable actually works
    background-color: transparent;
    // General css for lists in the navigation menu
    .nav-menu-list {
      // Required line to maintain bottom border style of list
      margin-bottom: 0;
      // Android Nav Menu List Item CSS
      .item-md {
        .item-inner {
          // Removes built-in border for list items
          border: none;
          // Match list item height to design
          height: 5.5rem;

          .nav-menu-icon {
            // Prevents display issues where container clips icon mask
            margin: 1px;
          }
          .nav-option-text {
            // Required positioning CSS as Ionic does not automatically vertically center button text in this case
            position: absolute;
            left: 5.5rem;
            top: 1.5rem;
          }
        }
      }
      .first-item {
        .label {
          .item-icon {
            height: 1.1em;
            width: 1.1em;
            margin-left: -0.05em !important;
          }
        }
      }
      // iOS Nav Menu List Item CSS
      .item-ios {
        .item-inner {
          // Removes built-in border for list items
          border: none;
          // Match list item height to design
          height: 5.5rem;

          .nav-menu-icon {
            // Prevents display issues where container clips icon mask
            margin: 1px;
          }
          .nav-option-text {
            // Required positioning CSS as Ionic does not automatically vertically center button text in this case
            position: absolute;
            left: 5.5rem;
            top: 1.5rem;
          }
        }
      }
    }
    // Settings, Support and Logout List
    #user-selection-options {
      .first-item {
        border: none;
      }
      .last-item {
        border: none;
      }
    }
  }
}
@import url(../assets/open-sans/);
$font-family-base: "OpenSans", sans-serif !default;

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype"),
    url("../assets/fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "OpenSans";
}
