// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.questionNumber {
  color: #0f71c4;
  font-size: 12px;
  font-weight: 700;
}
// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "appname-" prefix
ion-icon {
  &[class*="MTSApp-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  // custom icons
  &[class*="MTSApp-Notification"] {
    mask-image: url(../assets/icon/noun_641800.svg);
  }
  &[class*="MTSApp-Finder"] {
    mask-image: url(../assets/icon/noun_1676798.svg);
  }
  &[class*="MTSApp-JobSearch"] {
    mask-image: url(../assets/icon/noun_1220588.svg);
  }
  &[class*="MTSApp-EIReporting"] {
    mask-image: url(../assets/icon/noun_1381859.svg);
  }
  &[class*="MTSApp-SCCLocations"] {
    mask-image: url(../assets/icon/noun_661747.svg);
  }
  &[class*="MTSApp-LifeEvents"] {
    mask-image: url(../assets/icon/noun_1491773.svg);
  }
  &[class*="MTSApp-HamburgMenu"] {
    mask-image: url(../assets/icon/noun_1320815.svg);
  }
  &[class*="MTSApp-Calendar"] {
    mask-image: url(../assets/icon/noun_1058889.svg);
  }
}

// Nav Menu CSS
.nav-menu {
  // Toolbar CSS
  .toolbar {
    border-bottom: 1px solid white;
    height: 10vh;

    .toolbar-background-md {
      border: none;
    }
    .toolbar-background-ios {
      border: none;
    }
  }
  .content {
    background-color: transparent;

    .nav-menu-list {
      // Android Nav Menu List Item CSS
      .item-md {
        .item-inner {
          border: none;
        }
      }
      // iOS Nav Menu List Item CSS
      .item-ios {
        .item-inner {
          border: none;
        }
      }
      // General List Item CSS
      .last-item {
        border-bottom: 1px solid white;
      }
    }
  }
}
