page-job-search {

    /********* NAV BAR CSS STARTS HERE **********/

    .menu{
        color: #fff;
    }
    
    .start{
        position: absolute;
        left: 0;
    }
    
    .toolbar-background{
        background-color: #31485b; 
    }

    .toolbar-title-md {
        padding: 0 6px;
        margin-top: 0px;
        font-weight: 600;
    }

    .toolbar-title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        min-height: 100%;
        font-size: 2.5vh;
    }

    ion-title{
        text-align: center;
        color: white;
    }

    .back-button {
        color: #fff;
    }

    .back{
        //padding-left: 5rem;
        margin-left: 5rem;
        color: #fff;
        font-size: 20px;
        width: 14.5px;
        margin-right: 10rem;
        left: 0;
    }

    .help{
        //padding-right: 3rem;
        margin-right: 3rem;
        color: #fff;
        font-size: 22.5px;
    }

    /********* NAV BAR CSS ENDS HERE **********/

}
