<!-- Generated template for the HomePageCarouselComponent component -->
<div class="slides-container">
  <ion-slides #slides>
    <ion-slide class="slide-page-one">
      <ion-grid class="carousel-grid">
        <ion-row class="carousel-row">
          <ion-col class="carousel-column">
            <div (click)="navigateToMyNotificationsPage()" class="carousel-service-select">
              <ion-icon class="service-icon" name="MTSApp-Notification"></ion-icon>
              <p class="service-title">{{'SERVICE_ONE_TITLE' | translate }}</p>
            </div>
          </ion-col>
          <ion-col class="carousel-column">
            <div (click)="navigateToBenefitFinderPage()" class="carousel-service-select">
              <ion-icon class="service-icon" name="MTSApp-Finder"></ion-icon>
              <p class="service-title">{{'SERVICE_TWO_TITLE' | translate }}</p>
            </div>
          </ion-col>
          <ion-col class="carousel-column">
            <div (click)="navigateToSearchPage()" class="carousel-service-select">
              <ion-icon class="service-icon" name="MTSApp-JobSearch"></ion-icon>
              <p class="service-title">{{ 'SERVICE_THREE_TITLE' | translate }}</p>
            </div>
          </ion-col>
          <ion-col class="carousel-column">
            <div (click)="navigateToEIReportingPage()" class="service-select" style="border-left: none; border-bottom: none;">
              <ion-icon class="service-icon" name="MTSApp-EIReporting"></ion-icon>
              <p class="service-title">{{ 'SERVICE_FOUR_TITLE' | translate }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide-page-two">
      <ion-grid class="carousel-grid">
        <ion-row class="carousel-row">
          <ion-col class="carousel-column">
            <div (click)="navigateToSCCLocationPage()" class="service-select" style="border-bottom: none;">
              <ion-icon class="service-icon" name="MTSApp-SCCLocations"></ion-icon>
              <p class="service-title">{{ 'SERVICE_FIVE_TITLE' | translate }}</p>
            </div>
          </ion-col>
          <ion-col class="carousel-column">
            <div (click)="navigateToLifeEventsPage()" class="service-select" style="border-bottom: none; border-right: none;">
              <ion-icon class="service-icon" name="MTSApp-LifeEvents"></ion-icon>
              <p class="service-title">{{ 'SERVICE_SIX_TITLE' | translate }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <button type="submit" float-left ion-button color="light" class="swiper-button-prev swiper-button-black" (click)="prevSlide()"></button>
  <button type="submit" float-right ion-button color="light" class="swiper-button-next swiper-button-black" (click)="nextSlide()"></button>
</div>