home-page-carousel {
    .slides-container {
        position: relative;
        height: 30vh;
        margin-bottom: 6vh;

        .swiper-container {

            .swiper-wrapper {
                .service-icon {
                    font-size: 3em;
                }
            }
        }
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            opacity: 0.2 !important;
            box-shadow: none !important;
        }
        .swiper-button-next {
            position: absolute;
            top: 50%;
            opacity: 0.2 !important;
            box-shadow: none !important;
        }
    }
}
